    body {
        padding-top: 70px;
    }

    #projectResult {
        padding-bottom: 25px;
    }

    #projectResult .close {
        position: fixed;
        right: 15px;
        top: 65px;
        background: #fff;
        border: 1px solid #000;
        text-shadow: none;
        border-radius: 15px;
        width: 30px;
        height: 30px;
        opacity: .6;
        outline: none;
    }

    #projectResult .close:hover {
        background: #e74c3c;
        opacity: .8;
    }

    #projectResult .close span {
        display: block;
        width: 28px;
        height: 28px;
        line-height: 28px;
        font-size: 20px;
        text-align: center;
    }

    #projectResult th {
        vertical-align: middle;
        text-align: center;
        background: #f8f8f8;
    }

    #modal {
        display: none;
        background-color: rgba(0, 0, 0, 0.5)
    }

    .modal-header {
        padding: 15px 15px 0 15px;
        border: none;
    }

    .modal-body {
        padding: 0 15px 15px 15px;
    }

    #tableKz th {
        background: #ddd;
        margin-top: 20px;
    }

    .form-inline .form-group {
        margin-right: 20px;
    }

    .area {
        border-bottom: 1px solid #ddd;
        font-family: verdana;
    }

    td.elementScheme div {
        position: relative;
    }

    td.elementScheme > div::before {
        content: "";
        position: absolute;
        display: block;
        width: 150px;
        height: 25px;
        background: url("../images/div.svg") no-repeat;
        top: -25px;
    }

    tr:first-child td.elementScheme div::before {
        background: none;
    }

    .resistanceData {
        position: absolute !Important;
    }

    .resistanceData span {
        position: relative;
        left: 55px;
        font-family: arial;
    }

    .energySystemImage .resistanceData span {
        top: 40px;
    }

    .hookupImage .resistanceData span {
        top: 30px;
    }

    .row svg {
        display: block;
    }

    .reportTitle {
        text-align: center;
        font-family: arial;
    }

    .reportTitle span {
        min-height: 100%;
        display: table-cell;
        margin: auto 0;
    }

    .reportTitle > span {
        padding-right: 10px;
    }

    .area {
        padding-bottom: 15px;
    }

    .mb1 {
        margin-bottom: 15px;
    }

    .mt1 {
        margin-top: 15px;
    }

    .img-responsive svg {
        display: block;
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .w1 {
        width: 80px !Important;
    }

    .w2 {
        width: 280px !Important;
    }

    .pointKzWrapper {
        position: absolute !Important;
        top: 67px;
        left: 18px;
    }

    .pointKzWrapper span {
        position: absolute !Important;
        top: 0;
        left: -22px;
    }

    #projectResult .pointKzWrapper {
        left: 30px;
    }

    #dataFileBlock {
        display: none;
    }

    #projectResult .resistanceData {
        padding-top: 5px;
    }

    #projectResult .sdImage .resistanceData, #projectResult .adImage .resistanceData {
        padding-top: 25px;
    }

    footer {
        position: relative;
        min-height: 50px;
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        background-color: #f8f8f8;
    }

/* nav toggle */
.nav-toggle {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 2rem;
  right: 1.5rem;
  position: fixed;
  top: 1.5rem;
  width: 3.6rem;
  z-index: 1000;
}
.nav-toggle:hover {
  opacity: 0.6;
}
.nav-toggle .nav-toggle-bar,
.nav-toggle .nav-toggle-bar::after,
.nav-toggle .nav-toggle-bar::before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #000;
  content: '';
  height: 0.4rem;
  width: 100%;
}
.nav-toggle .nav-toggle-bar {
  margin-top: 0;
}
.nav-toggle .nav-toggle-bar::after {
  margin-top: 0.8rem;
}
.nav-toggle .nav-toggle-bar::before {
  margin-top: -0.8rem;
}
.nav-toggle.expanded .nav-toggle-bar {
  background: transparent;
}
.nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
  background: #000;
  margin-top: 0;
}
.nav-toggle.expanded .nav-toggle-bar::after {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.nav-toggle.expanded .nav-toggle-bar::before {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navbar-menu {
    display: none;
}
.navbar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.navbar-menu ul li {
    display: inline-block;
}
.expanded .navbar-menu {
    display: block;
    width: 100%;
    float: left !Important;
    text-align: center;
}
.expanded .navbar-menu ul li {
    display: block;
}
@media (min-width: 1200px) {
  .navbar-menu {
    display: block;
  }
}
#tableKz {
    min-width: 1145px !Important;
}
